h1 {
    text-align: center;
    padding: 50px;
    font-size: 100px;
    color: red;
    text-shadow: 5px 5px 0px blue, 8px 8px 0px white;
}

html {
    background-image: url(./images/bg.png);
    background-size: 25%;
}

div#text {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    width: 50vw;
    padding: 20px;
}

select#exercise-name {
    font-size: 1em;
}

/* Controls sets and reps input area */
section#sets-reps {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
}

section#sets-reps {
    display: flex;
}

input {
    margin: 0px 0px 10px 5px;
    width: 120px;
    height: 15px;
}

button {
    width: 150px;
    align-self: center;
    padding: 8px;
    margin: 5px;
}

p#timer-display {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8em;
    font-weight: bold;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
}

section#timerSection input {
    width: 90px;
}