body {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

section#sets-reps {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
}

section#sets-reps div {
    padding: 10px;
}

section#sets-reps label:nth-child(odd) {
    font-weight: bold;
    color: black;
    font-size: 1.35em;
}

section#sets-reps label:nth-child(odd) input {
    width: 35px;
}

section#sets-reps label:nth-child(even) input {
    width: 100px;
}