body {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

/* Controls sets and reps input area */
section#sets-reps {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
}

section#sets-reps {
    display: flex;
}

input {
    margin: 0px 0px 10px 5px;
    width: 100px;
}

/* Control reps input style */
section#sets-reps label:nth-child(odd) input {
    width: 35px;
}
/* Control weight input style */
section#sets-reps label:nth-child(even) input {
    width: 100px;
}

button#btnSet {
    width: 100px;
    align-self: center;
}

